
@{
    ViewData["Title"] = "Index1";
}
@model ValidationTagHelper.Models.UserViewModel
<div style="padding-top:70px;"></div>
<div class="row">
    <form asp-controller="Home" asp-action="Save" method="post">
        <div asp-validation-summary="All"></div>
        <br />

        Name: <input asp-for="Name" /><br />
        @*<span asp-validation-for="Name"></span><br />*@
        Email Address: <input asp-for="Email" /><br />
        @*<span asp-validation-for="Email"></span><br />*@
        <br />
        <button type="submit">Test Validation</button>
    </form>
</div>

