@{
    ViewData["Title"] = "Home Page";
}

<div style="padding-top:50px;"> </div>
<ul>
    <li>
        <a href="/demo/TestMethod1">180 days Policy</a>
    </li>

    <li>
        <a href="/demo/TestMethod2">365 days Policy</a>
    </li>
    <li>
        <a href="/demo/TestMethod3">15 days Policy</a>
    </li>
</ul>