@page
@model WebApplication1.Areas.MyFeature.Pages.AuthPage2Model
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page2</title>
</head>
<body>
    <h2>
        Authorized Page2.
    </h2>
</body>
</html>