@page
@model WebApplication1.Areas.MyFeature.AuthPage1Model
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page2</title>
</head>
<body>
    <h2>
        Authorized Page1.
    </h2>
</body>
</html>