@{
    ViewData["Title"] = "Home Page";
}

<div style="padding-top:50px;"> </div>
<ul>
    <li>
        <a href="/demo/TestMethod1">Claim-Based Authorization (claim: "IsAdmin = true") Access Page</a>
    </li>

    <li>
        <a href="/demo/TestMethod3">Role-based Claim Authorization</a>
    </li>
    <li>
        <a href="/demo/TestMethod4">Policy Based Authorization (Minimum time Spend:365)</a>
    </li>
    <li>
        <a href="/demo/TestMethod5">Multiple Handlers for single requirement</a>
    </li>
    <li>
        <a href="/demo/TestMethod6">Using RequireAssertion</a>
    </li>
</ul>