@page
@model WebApplication1.Areas.MyFeature.Pages.Page2Model
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page2</title>
</head>
<body>
    <h2>
        View is Render from Web App project.
    </h2>
</body>
</html>

