
@{
    ViewData["Title"] = "Home Page";
}

@model CustomTagHelper.Models.EmployeeViewModel
<div style="padding-top:10px;"></div>
<div class="row">
    <employee-details for-name ="Name" for-designation="Designation"></employee-details>
</div>

