@page
@model WebApplication1.Pages.Page4Model
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page2</title>
</head>
<body>
    <h2>
        Page 4.
    </h2>
</body>
</html>