@{
    ViewData["Title"] = "Home Page";
}

<div style="padding-top:50px;"> </div>
<ul>
    <li>
        <a href="/Test/OnlyAdminAccess">Admin Access Page</a>
    </li>
    <li>
        <a href="/Test/OnlyUserAccess">User Access Page</a>
    </li>
    <li>
        <a href="/Test/OnlyhrAccess">HR Access Page</a>
    </li>
    <li>
        <a href="/Test/PolicyExample">Policy Example (only Admin can access)</a>
    </li>
    
</ul>
